# Python cache
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts
build/
dist/
*.spec

# Virtual environments
venv/
env/
.venv/
.env/

# IDE/project files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Custom folders
dict/
